<h1><%= @task.title %></h1>
<%= link_to "Edit this task", edit_path(@task), :class => "btn btn-primary"%>

<ul>
  <li>Details: <strong><%= @task.details %></strong></li>
</ul>
<% if @task.completed? %> </p>
<i class="far fa-check-square"> <p> This task has been completed
<% else %>
<i class="far fa-square"> <p>This task has not been completed</p>
<% end %>

<div>
<%= link_to tasks_path do %>
  <i class="fas fa-history"></i>
Back to list
<% end %>
</div>
